/* global css */

:root {
   --color-white: #ffffff;
   --color-black: #141414;
   --color-gark-green: #1e2827;
   --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
   font-family: Epilogue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   margin:0;
   padding: 0;
}

img {
   max-width: 100%;
   height: auto;
   border-style: none;
   object-fit: cover;
}


.container {
   position: relative;
   margin: 0 auto;
   padding: 0px 32px;
}

.section {
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
   padding: 100px 0px;
}

@media screen and (max-width: 767px) {
   .container {
      max-width: 375px;
      padding: 0px 20px;
   }

   .section {
      padding: 40px 0px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
   .container {
      max-width: 768px;
   }

   .section {
      padding: 64px 0px;
   }
}

@media screen and (min-width: 1280px) {
   .container {
      max-width: 1240px;
   }

   .section {
      padding: 80px 0px;
   }
}

/* hero section css */

button {
   font-family: inherit;
   margin: 0;
   padding: 0;
   outline: 0;
}

button {
   text-transform: none;
}

[type='button'],
button {
   -webkit-appearance: button;
   border: 0;
   background: 0;
}

[type='button']::-moz-focus-inner,
button::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

[type='button']:-moz-focusring,
button:-moz-focusring {
   outline: ButtonText dotted 1px;
}

.hero-section {
   background: var(--color-black);
   color: var(--color-white);
   padding-top: 122px;
}

.hero {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
   position: relative;
   gap: 40px 20px;
}

.hero-title {
   max-width: 750px;
   font-family: Epilogue;
   color: var(--color-white);
   font-size: 60px;
   font-style: normal;
   font-weight: 600;
   line-height: 62px;
   letter-spacing: -2.4px;
   letter-spacing: -0.04em;
   order: 1;
}

.hero-text {
   font-family: Epilogue;
   font-size: 14px;
   font-style: normal;
   line-height: 18px;
   letter-spacing: -0.28px;
   font-weight: 300;
   max-width: 248px;
   margin-left: auto;
   order: 3;
}

.hero-top-slider {
   order: 2;
   position: relative;
   width: 436px;
}

.hero-slider {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 255px;
   background: var(--color-gark-green);
}

.hero-slider img {
   height: 100%;
   width: 100%;
}

.slider-arrows {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
}

.swiper-arrows {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border: 1px solid var(--color-white);
   border-radius: 8px;
   opacity: 0.5;
   cursor: pointer;
   margin-right: 12px;
   transition: opacity 250ms var(--cubic);
}

.swiper-arrows svg {
   width: 24px;
   height: 24px;
}

.swiper-arrows:hover,
.swiper-arrows:focus {
   opacity: 1;
}

.swiper-next {
   margin-right: auto;
}

.swiper-number {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.slide-first {
   display: flex;
   align-items: center;
}

.slide-first:after {
   content: '';
   display: block;
   width: 32px;
   height: 1px;
   margin: 0px 8px;
   background: var(--color-white);
}

.hero-image {
   order: 4;
}

.hero-image img {
   width: 100%;
}

@media screen and (max-width: 767px) {
   .hero-title {
      max-width: 653px;
      font-size: 38px;
      line-height: calc(40 / 38);
   }

   .hero-top-slider {
      width: 266px;
   }

   .hero-slider {
      height: 200px;
   }

   .swiper-arrows {
      width: 32px;
      height: 32px;
   }

   .swiper-arrows svg {
      width: 18px;
      height: 18px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
   .hero-section {
      padding-top: 146px;
   }

   .hero-text {
      padding-bottom: 60px;
   }
}

@media screen and (min-width: 1280px) {
   .hero-section {
      padding-top: 148px;
   }

   .hero-text {
      order: 2;
      max-width: 282px;
      align-self: flex-start;
   }

   .hero-image {
      margin-left: auto;
   }

   .hero-top-slider {
      align-self: flex-end;
   }
}